cabal.project.local
*stack.yaml.lock
dist
cabal-dev
*.o
*.hi
*.dyn_hi
*.dyn_o
*.chi
*.chs.h
.virthualenv
.cabal-sandbox
*~
*#
*.#*
cabal.sandbox.config
.stack-work
*.imports
.ghc.environment*
.packcheck
dist-newstyle
*.swo
*.swp
*.DS_Store
*.prof
*.profiterole.html
*.profiterole.txt
*.profiteur.html
