name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ghc: ['8.8', '8.10','9.0', '9.2']
        os: [ubuntu-latest, macOS-latest]
    name: GHC ${{ matrix.ghc }} / ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: 'latest'

    - name: Cache
      uses: actions/cache@v1
      env:
        cache-name: cache-cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.ghc }}-
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        cabal update || cabal update
        cabal build --only-dependencies --enable-tests --enable-benchmarks hgeometry-test
    - name: Build
      run: |
        cabal build hgeometry-combinatorial
        cabal build hgeometry
        cabal build hgeometry-test
        cabal build hgeometry-svg
        cabal build hgeometry-examples
        cabal build pkg:hgeometry:benchmarks
    # - name: Build showcase
    #   if: ${{ !(matrix.os == 'macOS-latest' && matrix.ghc == '8.8') }}
    #   run: |
    #     cabal build hgeometry-showcase:showcase
    - name: Test hgeometry
      # if: ${{ !(matrix.os == 'macOS-latest' && matrix.ghc == '8.10') }}
      run: |
        cabal test --test-show-details=always hgeometry
    - name: Test hgeometry-combinatorial
      # if: ${{ !(matrix.os == 'macOS-latest' && matrix.ghc == '8.10') }}
      run: |
        cabal test --test-show-details=streaming hgeometry-combinatorial
    - name: Test hgeometry-test
      run: |
        cabal test --test-show-details=streaming hgeometry-test
    - name: Test hgeometry-ipe
      if: ${{ !(matrix.os == 'macOS-latest' && matrix.ghc == '8.10') }}
      run: |
        cabal test --test-show-details=always hgeometry-ipe
    - name: Test hgeometry-svg
      if: ${{ !(matrix.os == 'macOS-latest' && matrix.ghc == '8.10') }}
      run: |
        cabal test --test-show-details=always hgeometry-svg
    # - name: Check documentation syntax
    #   run: cabal haddock hgeometry-test
